<%= render 'shared/page_title', title: "All Recipes" %>

<% @myrecipes.each do |myrecipe| %>
	<div class="row">

		<div  class="col-md-2">
			<section class="chef_info center">
				<%= gravatar_for myrecipe.chef, size: 100 %>
				<h5>Chef name: <%= myrecipe.chef.name %></h5>
			</section>
		</div>

		<div class="col-lg-8 well">
			<h4><%= link_to myrecipe.name, myrecipe_path(myrecipe) %></h4>
			<p><%= myrecipe.summary %></p>
			<p>
				<span class='quiet'><small> <%= time_ago_in_words(myrecipe.created_at) %></small></span>
			</p>
		</div>
	</div>
<% end %>